@font-face {
    font-family: 'Main_Font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$BackMain: #c1efff;
$Yellow: #f0fdc5;
$Green: #b6d786;
$Dark: #195369;

html {
    font-family: 'Main_Font';
    background-color: $BackMain;

    body {
        margin: 0;
        padding: 0;
    }

    //TimeTable
    .Main_Header {
        cursor: default;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        #Header_School {
            font-size: 80px;
        }

        #DropMenu {
            .Dropdown_Menu {
                .Dropdown_header {
                    .Dropdown_text {
                        div {
                            font-size: 50px;
                            background-color: $Green;
                            svg {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        div {
            display: inline;
        }
    }

    //Footer
    .Footer_Container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;

        .Footer_Header {
            position: absolute;
            left: 43%;
            font-size: 60px;
            margin-top: 2%;
        }

        .Footer_Link {
            position: absolute;
            background-color: $Green;
            width: 130px;
            height: 60px;
            text-align: center;
            line-height: 65px;
            border-radius: 10px;
            left: 45px;
            top: 30px;

            &:hover {
                background-color: $Yellow;
                transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

                &:not(:hover) {
                    background-color: $Yellow;
                    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 35px;
            }
        }

        .Footer_Items {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            margin-top: 10%;

            .Footer_Item {
                width: 500px;
                display: flex;
                flex-direction: column;
                text-align: center;

                .Footer_IMG {
                    text-align: center;
                    img {
                        width: 200px;
                        border-radius: 8px;
                    }
                }

                span {
                    font-size: 24px;

                    p {
                        font-size: 40px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
